* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', Arial, sans-serif;
    color: #f4f4f4;
    background-color: #0F0F0F;
    background-image: url(Elements.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: #f4f4f4;
}

header {

    @media (max-width:800px){
        width: 100vw;
        // justify-content: start;
        // padding-top: 2em;
    }

    float: left;
    height: 100vh;
    width: 50vw;
    font-size: 2em;
    background-color: #020200f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    nav{
        display: flex;
        flex-direction: column;
        align-items: left;
text-align: left;        img{

            max-width: 5em;
            padding-bottom: 1em;
        }
        p{
            padding-bottom: 1em;
            cursor: default;
            .span1{
                font-weight:300;
            }
            .span2{
                font-weight: 200;
            }
            .span3{
                font-weight: 100;
                color: #F2C94C;

            }
        }
        a{
            span{
                color: #F2C94C;
            }
            &:hover{
                text-decoration: underline;
                text-decoration-color: #F2C94C;
                text-decoration-thickness: .15em;
                text-underline-offset: .3em;
            }
        }
    }

}






.btn1 {
    padding: 0.8em;
    padding-inline: 1.5em;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
        background-color: #005eca;
    }
    margin-top: 1em;
    background-color: #004ea9;
    color: #f4f4f4;
    border-radius: 10px;
}

.btn2 {
    padding: 0.8em;
    cursor: default;
    padding-inline: 1.5em;
    text-decoration: none;
    margin-top: 1em;
    background-color: #8f8f8f;
    color: #f4f4f4;
    border-radius: 10px;
}
